body {
  background-color: rgb(248, 212, 218);
}

#menu ul {
  width: 100%;
  height: auto;
  padding: 8px;
  margin: 0;
  background-color: #069;
  list-style: none;
}
#menu ul li {
  display: inline;
}
#menu ul li a {
  padding: 2px 10px;
  display: inline-block;
  margin-left: 33px;
  background-color: #069;
  color: #fff;
  text-decoration: none;
  border-bottom: 3px solid #069;
}
#menu ul li a:hover {
  color: #f5f5f5;
  border-bottom: 3px solid #f5f5f5;
}

h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: brown;
}
p {
  font-family: Lucida Bright;
  font-size: 16px;
}
li {
  font-family: Lucida Bright;
  font-size: 16px;
}

div#rodapefinal {
  position: relative;
  left: 0%;
  text-align: center;
  padding: 50px;
}

footer#rodape {
  clear: both;
  border-top: 1px solid rgb(53, 32, 247);
}
footer#rodape p {
  text-align: center;
}

main {
  min-width: 300px;
  margin: auto;
  max-width: 980px;
}

main img#capa {
  width: 101.6%;
}
main img#foto {
  float: right;
}
div#fotoperfil {
  position: relative;
  min-width: 300px;
  margin: auto;
  max-width: 980px;
  top: -65px;
  right: 80px;
}
